.App {
}
.App-header {
  text-align: center;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header > p,
.App-header > h2 {
  color: #242f31;
  width: 50%;
}
.App-logo {
  max-height: 450px;
  width: 20%;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 1100px) {
  .App-logo {
    width: 35%;
  }
}
@media (max-width: 650px) {
  .App-logo {
    width: 40%;
  }
  .App-header {
    font-size: calc(8px + 2vmin);
  }
}
@media (max-width: 550px) {
  .App-logo {
    width: 60%;
  }
  .App-header > p,
  .App-header > h2 {
    color: #242f31;
    width: 70%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
