* {
  margin: 0;
  padding: 0;
}
.sliderItemComtainer {
  margin-top: 20%;
  flex-direction: column;
}
.sliderItemComtainer img {
  max-height: 450px;
  width: 90%;
}

@media (max-width: 1700px) {
  div.sliderItemComtainer h1 {
    font-size: 35px;
  }
}
@media (max-width: 1450px) {
  div.sliderItemComtainer h1 {
    height: 80px;
    font-size: 30px;
  }
  div.sliderItemComtainer p {
    margin: 15px 0;
    font-size: 14px;
  }
  div.sliderItemComtainer h3 {
    font-size: 13px;
  }
}
@media (max-width: 450px) {
  div.sliderItemComtainer h1 {
    font-size: 24px;
  }
  div.sliderItemComtainer p {
    margin: 10px 0;
    font-size: 10px;
  }
  div.sliderItemComtainer h3 {
    font-size: 10px;
  }
  div.sliderItemComtainer a{
    font-size: 14px;
  }
}

.sliderItemComtainer h1,
.sliderItemComtainer p,
.sliderItemComtainer a {
  font-family: "KyivType_Titling-Bold";
  text-align: center;
  width: 100%;
  white-space: pre-wrap;
}
.sliderItemComtainer h1 {
  font-size: 40px;
  height: 100px;
}
.sliderItemComtainer p {
  margin: 20px 0;
  height: 30px;
  color: #ff4145;
  font-size: 16px;
}
.sliderItemComtainer h3 {
  font-family: "KyivType_Serif-Bold";
  text-align: center;
  width: 90%;
  font-size: 15px;
}
.sliderItemComtainer a {
  font-size: 16px;
  width: 55%;
  height: 50px;
  background-color: #242f31;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
